<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Card</title>
</head>
<body>
    <div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src= {{image_url}}
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>
</body>
</html>